<div class="home">

  <!-- HERO -->
  <section class="hero">
    <div class="overlay"></div>

    <div class="hero-content">
      <h1 class="c_loan">
        Check Loan Eligibility in
        <span>Seconds</span>
      </h1>

      <p>
        AI-powered system to instantly predict your loan approval chances
      </p>

      <div class="hero-buttons">
        <button class="btn primary" routerLink="/register">Get Started</button>
        <button class="btn secondary" (click)="scrollToSection('why')">Learn More</button>
      </div>
    </div>
  </section>

  <!-- WHY -->
  <section class="section" id="why">
    <h2>Why Choose Us?</h2>

    <div class="cards">
      <div class="card">
        <div class="icon">⚡</div>
        <h3>Fast Approval</h3>
        <p>Instant smart results</p>
      </div>

      <div class="card">
        <div class="icon">🤖</div>
        <h3>AI Powered</h3>
        <p>Accurate predictions</p>
      </div>

      <div class="card">
        <div class="icon">🔒</div>
        <h3>Secure</h3>
        <p>Your data is protected</p>
      </div>
    </div>
  </section>

  <!-- HOW -->
  <section class="section">
    <h2>How It Works</h2>

    <div class="steps">
      <div class="step">
        <div class="circle">1</div>
        <h4>Register</h4>
        <p>Create your account</p>
      </div>

      <div class="step">
        <div class="circle">2</div>
        <h4>Fill Details</h4>
        <p>Enter income & credit info</p>
      </div>

      <div class="step">
        <div class="circle">3</div>
        <h4>Get Result</h4>
        <p>Instant eligibility result</p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-container">

      <div class="footer-brand">
        <h3 class="footer-logo">LoanIQ</h3>
        <p>Smart Loan Eligibility Prediction System</p>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <a routerLink="/">Home</a>
        <a routerLink="/register">Register</a>
        <a routerLink="/login">Login</a>
      </div>

      <div class="footer-links">
        <h4>Contact</h4>
        <p>Email: support@loaniq.com</p>
        <p>Phone: +91 9876543210</p>
      </div>

    </div>

    <div class="footer-bottom">
      © 2026 LoanIQ | Built using Angular + .NET
    </div>
  </footer>
</div>
