<div class="profile-container">

  <div class="profile-card">


    <div class="logo-circle">
      <img src="assets/User_Logo.webp" alt="logo">
    </div>

    <h2 class="title">My Profile</h2>

    <div class="profile-info">
      <label>First Name</label>
      <p>{{ firstName }}</p>
    </div>

    <div class="profile-info">
      <label>Last Name</label>
      <p>{{ lastName }}</p>
    </div>

    <div class="profile-info">
      <label>Email</label>
      <p>{{ email }}</p>
    </div>

    <div class="profile-info">
      <label>Role</label>
      <p>{{ roleName }}</p>
    </div>


  </div>

</div>
