<div class="page">
  <div class="card">
    <h2>LoanIQ</h2>
    <p class="subtitle">Reset your password</p>

    <form (ngSubmit)="resetPassword()" #form="ngForm">

      <div class="field">
        <label>Email</label>
        <input type="email"
               [(ngModel)]="reset.email"
               name="email"
               #email="ngModel"
               required
               email>

        <small class="error" *ngIf="email.touched && email.errors?.['required']">
          Email is required
        </small>

        <small class="error" *ngIf="email.errors?.['email']">
          Enter a valid email
        </small>
      </div>

      <div class="field">
        <label>New Password</label>
        <input type="password"
               [(ngModel)]="reset.newPassword"
               name="newPassword"
               #newPassword="ngModel"
               required
               minlength="8"
               pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$"/>

        <small class="error" *ngIf="newPassword.touched && newPassword.errors?.['required']">
          Password is required
        </small>

        <small class="error" *ngIf="newPassword.errors?.['minlength']">
          Minimum 8 characters required
        </small>

        <small class="error" *ngIf="newPassword.touched && !newPassword.errors?.['required'] && !newPassword.errors?.['minlength'] && newPassword.errors?.['pattern']">
          Must include uppercase, lowercase and number
        </small>
      </div>

      <div class="field">
        <label>Confirm Password</label>
        <input type="password"
               [(ngModel)]="reset.confirmPassword"
               name="confirmPassword"
               #confirmPassword="ngModel"
               required>

        <small class="error" *ngIf="confirmPassword.touched && confirmPassword.errors?.['required']">
          Confirm password is required
        </small>

        <small class="error" *ngIf="confirmPassword.touched && reset.confirmPassword !== reset.newPassword">
          Passwords do not match
        </small>
      </div>

      <button type="submit"
              [disabled]="form.invalid || reset.newPassword !== reset.confirmPassword">
        Reset Password
      </button>

    </form>
  </div>
</div>
